


body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble {
    position : absolute;
    border-radius: 300px;
    background: rgba(16, 91, 189, 0.6);
    opacity: 0;
    /* Animation va durer 8 secondes + rester dans l'etat dans lequel la bulle etait */
    animation: anim 8s forwards;
     /* Roue chromatique */
    filter:hue-rotate(0deg);
}

@keyframes anim {
    to {
        top: -250px;
        /* Injection d'une variable  */
        left: var(--left);
        opacity: 1;
        /* Roue chromatique */
        filter: hue-rotate(720deg);
    }
}

h3 {
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color : rgba(128, 128, 128, 0.555)
}